/* You can add global styles to this file, and also import other style files */
textarea {
	overflow-x: hidden;
}

.margin-top-form-buffer {
	margin-top: 50px;
}

.padding-top-form-buffer {
	padding-top: 25px;
}

.submit-row-buffer {
	padding: 20px;
}