@charset "UTF-8";
.center-img {
  display: flex;
  margin: 0 auto; }

.article-fixed {
  max-width: 1000px;
  margin-left: 20px;
  margin-right: 20px; }

.slider {
  background: white; }

.top-buffer {
  margin-top: 100px;
  margin-bottom: 100px; }

.hide {
  display: none; }

.navbar-default {
  background-color: white; }
  .navbar-default .navbar-nav > li > a {
    color: black; }
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-default .navbar-nav > .active > a:focus {
    color: black;
    background-color: rgba(5, 143, 152, 0.5); }

.carousel {
  border: 3px solid #c0dcdb; }

.carousel-section {
  background-color: white;
  height: 400px; }
  .carousel-section .carousel-control {
    width: 50px;
    height: 100px;
    background: #09a9b5;
    margin-top: 140px; }
  .carousel-section .carousel-slide {
    padding: 10px 0px;
    height: 100%; }
    .carousel-section .carousel-slide .carousel-slide-inner {
      margin: 0px 30px; }
  .carousel-section .carousel-slide-image {
    height: 300px; }

.skills-section {
  padding: 30px;
  background-color: black; }

.projects-section {
  padding: 20px;
  background-color: rgba(201, 210, 209, 0.2); }
  .projects-section .portfolio-dropdown {
    width: 300px; }

.featured-project {
  padding: 30px; }

.project-section {
  margin-top: 70px; }

.project-list {
  max-height: 70%; }

.resources-table, .resources-grid {
  margin: 10px;
  height: 300px;
  overflow-y: scroll; }

.resources-card {
  min-height: 125px; }

footer {
  background-color: white; }
  footer .footer-section {
    height: 200px;
    border: 1px solid black;
    background-color: white; }

@media (min-width: 1024px) {
  .resources-table {
    display: block; }
  .resources-grid {
    display: none; } }

@media (max-width: 1024px) {
  .resources-table {
    display: none; }
  .resources-grid {
    display: block; } }

.navigation {
  height: 70px;
  background: white;
  margin-bottom: 100px; }

.brand {
  line-height: 70px;
  text-transform: uppercase;
  font-size: 1.4em;
  display: flex;
  justify-content: center; }
  .brand a,
  .brand a:visited {
    color: black;
    text-decoration: none; }

.nav-container {
  max-width: 1000px;
  margin: 0 auto; }

nav ul {
  list-style: none;
  margin: 0;
  padding: 0; }
  nav ul li {
    float: left;
    position: relative; }
    nav ul li a,
    nav ul li a:visited {
      display: block;
      padding: 0 20px;
      line-height: 70px;
      background: white;
      color: black;
      text-decoration: none; }
      nav ul li a:hover,
      nav ul li a:visited:hover {
        background: #2581DC;
        color: black; }
      nav ul li a:not(:only-child):after,
      nav ul li a:visited:not(:only-child):after {
        padding-left: 4px;
        content: ' ▾'; }
    nav ul li ul li {
      min-width: 190px; }
      nav ul li ul li a {
        padding: 15px;
        line-height: 20px; }

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15); }

/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: white;
  height: 70px;
  width: 70px; }

@media only screen and (max-width: 800px) {
  .nav-mobile {
    display: block; }
  .nav-list {
    border: none; }
  .brand {
    display: none; }
  nav {
    display: block;
    float: right;
    width: 100%;
    padding: 70px 0 15px; }
    nav ul {
      display: none; }
      nav ul li {
        float: none;
        border: 1px solid black; }
        nav ul li a {
          padding: 15px;
          line-height: 20px; }
        nav ul li ul li a {
          padding-left: 30px; }
  .nav-dropdown {
    position: static; } }

@media screen and (min-width: 800px) {
  .nav-list {
    display: block !important;
    border: 1px solid black; }
  nav {
    display: flex;
    justify-content: center;
    float: none; } }

#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px; }
  #nav-toggle span,
  #nav-toggle span:before,
  #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: black;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out; }
  #nav-toggle span:before {
    top: -10px; }
  #nav-toggle span:after {
    bottom: -10px; }
  #nav-toggle.active span {
    background-color: transparent; }
    #nav-toggle.active span:before, #nav-toggle.active span:after {
      top: 0; }
    #nav-toggle.active span:before {
      transform: rotate(45deg); }
    #nav-toggle.active span:after {
      transform: rotate(-45deg); }

.editor-preview-section {
  min-height: 300px;
  max-height: 300px;
  overflow-y: scroll; }

.editor-textarea {
  min-height: 200px;
  max-height: 200px;
  overflow-y: scroll; }

.project-card {
  height: 275px; }
  .project-card img {
    height: 100px;
    margin: 0 auto; }
  .project-card-title {
    text-align: center; }
  .project-card-description {
    height: 75px;
    overflow-y: auto; }

.projects-search-panel {
  margin-left: 0.5px; }
  .projects-search-panel .input-group {
    margin: 15px; }
