.project-card {
	height: 275px;

	& img {
		height: 100px;
		margin: 0 auto;
	}

	&-title {
		text-align: center;
	}

	&-description {
		height: 75px;
		overflow-y: auto;
	}
}

.projects-search-panel {

	margin-left: 0.5px;

	.input-group {
		margin: 15px;
	}

}