<div class="row">

  <div class="col-xs-12 carousel-section">
    <carousel [interval]="intervalChange">
      <slide class="carousel-slide" *ngFor="let slide of slides; let index = index" [active]="slide.active">
      	<div class="row">
	       	<div class="col-sm-12 col-md-8">
	        	<img src="{{slide.image}}" class="carousel-slide-image" />
	        </div>
	        <div class="col-sm-12 col-md-4">
	        	{{slide.text}}
	        </div>
        </div>
      </slide>
    </carousel>
  </div>

</div>