<form class="container-fluid top-buffer">

	<h4>Create a New Project</h4>

	<div class="row">
		<div class="col-xs-12 col-sm-6 panel">
			<div class="row">
				<div class="col-xs-12 col-sm-3">
					Name
				</div>
				<div class="col-xs-12 col-sm-9">
					<input type="text" class="form-control" [(ngModel)]="project.name" />
				</div>				
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-3">
					Body
				</div>
				<div class="col-xs-12 col-sm-9">
			    	<textarea [(ngModel)]="project.body" class="form-control editor-textarea"></textarea>
			    </div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-3">
					Description
				</div>
				<div class="col-xs-12 col-sm-9">
					<input type="text" class="form-control" [(ngModel)]="project.description" />
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-3">
					Category
				</div>
				<div class="col-xs-12 col-sm-9">
					<div class="btn-group" dropdown keyboardNav="true">
						<button id="simple-btn-keyboard-nav" type="button" class="btn btn-primary" dropdownToggle>
						  {{ project.category }} <span class="caret"></span>
						</button>
						<ul class="dropdown-menu" dropdownMenu role="menu" aria-labelledby="simple-btn-keyboard-nav">
						  <li role="menuitem" *ngFor="let category of categories"><a class="dropdown-item" (click)="toggleDropdown(category)">{{category.name}}</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-3">
					Caption File Name
				</div>
				<div class="col-xs-12 col-sm-9">
					<input type="text" class="form-control" [(ngModel)]="project.image" />
				</div>
			</div>
			<div class="row">
				<button (click)="createProject()" class="btn btn-primary">Create</button>		
				<button (click)="createProject()" class="btn btn-default">Cancel</button>	
			</div>		
		</div>
		<div class="col-xs-12 col-sm-6 panel panel-default editor-preview-section">
			<div [innerHTML]="project.body"></div>
		</div>
	</div>

</form>