<div class="row">
	<div class="portfolio-dropdown">
	 	<ng-select [items]="portfolioOptions"
	 				(selected)="portfolioSelected($event)"
	 				placeholder="Select Portfolio Project">
	 	</ng-select>
	 
	</div>
</div>

<div class="row">
	<div class="col-xs-12 panel panel-default featured-project" *ngFor="let port in portfolio" [active]="portfolio.active">
		<div class="col-md-3">
			<div style="width: 200px; height: 200px; border: 1px solid black; margin: 0 auto; margin-bottom: 10px;"></div>
		</div>
		<div class="col-md-9">
			<h5>{{portfolio.name}}</h5>
			{{portfolio.description}}
		</div>
	</div>
</div>