<div class="container-fluid top-buffer">

	<div class="row">
		<div class="panel panel-default col-xs-12 projects-search-panel row">
			
			<div class="input-group col-xs-12 col-sm-4">
				<input type="text" class="form-control" placeholder="Search for Projects" (keyup)="searchForName($event)" />
			</div>

		</div>
	</div>

	<div class="row">
		<div class="panel panel-default col-xs-12 col-sm-4 col-md-3 project-card" *ngFor="let project of projects">
			<h3 class="project-card-title">{{project.name}}</h3>
			<img src="{{outputImagePath(project.image)}}" class="img-responsive" *ngIf="project.image" />
			<div class="project-card-description">{{project.description}}</div>
			<button class="btn btn-primary" (click)="editProject(project)">Edit</button>
			<button class="btn btn-default" (click)="viewProject(project)">View</button>
		</div>
	</div>

</div>