<div id="wrapper" class="container-fluid">
	<div class="tagline">
		<h1>All Resources</h1>
		<button class="btn btn-primary" (click)="newResourceLink()">New Resource</button>
	</div>

	<div class="card resources-table row">
		<table class="table table-bordered table-hover table-condensed">
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<!-- <th>Description</th> -->
					<th>Category</th>
					<th>Created</th>
					<th>Options</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let project of projects">
					<td>{{project._id}}</td>
					<td>{{project.name}}</td>
					<!-- <td>{{project.description}}</td> -->
					<td [innerHTML]="getCategoryInfo(project.category_id)"></td>
					<td>{{project.created_at}}</td>
					<td>
						<div class="btn-group" dropdown>
							<button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
								Actions <span class="caret"></span>
							</button>
							<ul *dropdownMenu class="dropdown-menu" role="menu">
								<li role="menuitem"><a class="dropdown-item" (click)="editResourceLink(project)">Edit</a></li>
								<li role="menuitem"><a class="dropdown-item" (click)="viewResourceLink(project)">View</a></li>
								<li role="menuitem"><a class="dropdown-item" (click)="deleteResourceLink(project)">Delete</a></li>
							</ul>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="row resources-grid">
		<div class="panel panel-default col-xs-12 col-sm-6 resources-card" *ngFor="let project of projects">
			<div class="row">
				<div class="col-xs-3">ID</div>
				<div class="col-xs-9">{{project._id}}</div>
			</div>
			<div class="row">
				<div class="col-xs-3">Name</div>
				<div class="col-xs-9">{{project.name}}</div>
			</div>
<!-- 			<div class="row">
				<div class="col-xs-3">Description</div>
				<div class="col-xs-9">{{project.description}}</div>
			</div> -->
			<div class="row">
				<div class="col-xs-3">Category</div>
				<div class="col-xs-9" [innerHtml]="getCategoryInfo(project.category_id)"></div>
			</div>	
			<div class="row">
				<div class="col-xs-3">Created</div>
				<div class="col-xs-8">{{project.created_at}}</div>
			</div>	
			<div class="row">
				<div class="btn-group" dropdown>
					<button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
						Options <span class="caret"></span>
					</button>
					<ul *dropdownMenu class="dropdown-menu" role="menu">
						<li role="menuitem"><a class="dropdown-item" href="#">Edit</a></li>
						<li role="menuitem"><a class="dropdown-item" href="#">View</a></li>
						<li role="menuitem"><a class="dropdown-item" href="#">Delete</a></li>
					</ul>
				</div>
			</div>		
		</div>	
	</div>

</div>

<footer>
</footer>
