<div class="row justify-content-md-center">

  <div class="col-xs-12 carousel-section">
    <carousel>
      <slide class="carousel-slide" *ngFor="let slide of slides; let index = index" [active]="slide.active">
      	<div class="row">
      		<div class="carousel-slide-inner">
				<div class="col-xs-12">
					<img src="{{slide.image}}" class="img-fluid carousel-slide-image" /> 
		        </div>
		        <div class="col-xs-12">
		        	<div class="col-sm-12 callout">
		        		<h1>{{slide.name}}</h1>
		        		<div class="callout-body">
							{{slide.description}}
		        		</div>
		        	</div>
		        </div>
      		</div>
        </div>
      </slide>
    </carousel>
  </div>

</div>